:root {
  --highlight-red: #ff6767;
  --highlight-blue: #3abeff;
  --header-background: #f8f8f8;
  --search-text-color: #a1a3ab;
  --serach-background: #f5f8ff;
  --header-icon: #ff6767;
  --white-color: #ffffff;
}

body {
  margin: 0;
  font-family: "Roboto Mono";
}

.head {
  display: flex;
  padding: 0.5rem;
  background-color: var(--header-background);
}

.highlight-red {
  color: var(--highlight-red);
}

.heading {
  padding: 1rem;
  width: 400px;
  margin: 0;
  text-align: center;
}

.search-area {
  display: flex;
  margin: auto;
  padding: 2rem;
  width: 900px;
  align-items: start;
  position: relative;
}

.input-search {
  width: 95%;
  border: none;
  border-radius: 0.2rem;
  background-color: var(--serach-background);
  padding: 0.27rem;
  box-shadow: 0px 2px 10px;
}

.input-search:placeholder {
  color: var(--search-text-color);
}

.search-icon {
  position: absolute;
  right: 7%;
  width: 3%;
  padding: 0.3rem;
  border-radius: 0.2rem;
  background-color: var(--highlight-red);
  color: var(--white-color);
}

.not-cal {
  margin: auto;
  width: 100px;
  color: var(--white-color);
}

.not-icon {
  background-color: var(--highlight-red);
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.cal-icon {
  background-color: var(--highlight-red);
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.head-para {
  margin: auto;
  width: 200px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.highlight-blue {
  color: var(--highlight-blue);
}

.aside-bar {
  width: 300px;
  margin-top: 5rem;
  padding: 0.8rem;
  color: var(--white-color);
  background-color: var(--highlight-red);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  box-shadow: -2px -2px 10px;
}

.profile-picture {
  text-align: center;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border: 2px solid var(--white-color);
  border-radius: 50%;
}

.profile-name {
  margin: 0;
  font-size: 15px;
}

.email-id {
  margin: 0;
  font-size: 12px;
}

.aside-tab section {
  display: flex;
  width: 80%;
  margin: 1rem auto;
  font-size: 17px;
  align-items: center;
  border-radius: 0.6rem;
}

.aside-tab section:hover {
  background-color: var(--white-color);
  color: var(--highlight-red);
}

.aside-tab section i {
  margin-left: 1rem;
  margin-right: 1rem;
}

.logout-section {
  margin-top: 10rem;
}
